@charset "utf-8";


/****** basic ******/
html, body { height:100%; }
body { margin:0; font-family:'Noto Sans KR','Apple SD Gothic Neo',sans-serif; font-weight:300; letter-spacing:-1px; }
ul, li { list-style:none; margin:0; padding:0; }
a { display:block; text-decoration:none; }

/***** Mobile *****/

/**** container ****/
.container { width:100%; height:100%; position:relative; }

/*** header ***/
.container header { width:100%; height:70px; padding:0 22px; box-sizing:border-box; display:flex; justify-content:space-between; align-items:center; position:fixed; top:0; right:0; background-color:rgba(255, 255, 255, 0.5); z-index:999; transition:0.3s; }
.container header.up { background-color:#fff; }
.container header.active { background-color:transparent; }

    /** menu icon **/
    .container header .wrapper-menu { width:20px; height:20px; display:flex; flex-direction:column; justify-content:space-between; cursor:pointer; transition:transform 330ms ease-out; }
    .container header .wrapper-menu.open { transform:rotate(-45deg); }
        .container header .line-menu { background-color:#000; border-radius: 50px; width:100%; height:2px; }
        .container header .line-menu.half { width:50%; }
        .container header .line-menu.start { transition:transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57); transform-origin:right; }
        .container header .open .line-menu.start { transform:rotate(-90deg) translateX(1px); }
        .container header .line-menu.end { align-self:flex-end; transition:transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57); transform-origin:left; }
        .container header .open .line-menu.end { transform:rotate(-90deg) translateX(-1px); }

        /** logo **/
        .container header h1 { width:100px; height:100%; margin:0; text-indent:-9999px; text-align:center; }
        .container header h1.active { display:none; }
        .container header h1 a { width:100%; height:100%; background:url(../images/logo.svg) no-repeat 50% 50%; background-size:contain; }
    
        /** search icon **/
        .container header .search { width:20px; height:20px; }
        .container header .search.active { display:none; }
        .container header .search a { width:100%; height:100%;  background:url(../images/search.svg) no-repeat; background-size:cover; }

/*** PC header ***/
.container #PC_header { display:none; }

/*** search ***/
.container #search_box { width:100%; height:230px; position:fixed; top:-230px; z-index:9999; background-color:#fcfcfc; padding:70px 25px 50px; box-sizing:border-box; }
    .container #search_box svg { width:20px; position:absolute; top:25px; right:25px; color:#544737; opacity:0.5; cursor:pointer; }
    .container #search_box p { margin:0; text-transform:capitalize; font-family:'ZapfHumanistRoman','Apple SD Gothic Neo', sans-serif; font-size:2em; margin-bottom:25px; color:#544737; }
    .container #search_box .box { width:100%; display:flex; }
        .container #search_box .box input { width:80%; outline:none; font-size:1.125em; border:none; border-bottom:1px solid #544737; background-color:transparent; padding:10px 5px; box-sizing:border-box; color:#544737; font-weight:300; }
        .container #search_box .box .txt { width:20%; border-bottom:1px solid #544737; padding:10px 5px; box-sizing:border-box; display:flex; justify-content:center; align-items:center; }
            .container #search_box .box .txt button { outline:none; border:none; background-color:transparent; color:#89866d; font-size:1em; }


/*** mobile navigation ***/
.container nav { padding:0 22px; box-sizing:border-box; width:100%; height:100%; background-color:#fcf9f5; position:fixed; top:0; left:-100%; z-index:99; }
.container nav.show { left:0; }
    .container nav ul a { color:#3a3123; }

    .container nav .gnb { padding-top:100px; box-sizing:border-box; } 
        .container nav .gnb > li:first-child ul { width:100%; display:flex; font-size:1.125em; font-weight:400; }
        .container nav .gnb > li:first-child ul li:first-child { margin-right:65px; }

        .container nav .gnb > li:nth-child(2), .container nav .gnb > li:nth-child(3), .container nav .gnb > li:nth-child(4), .container nav .gnb > li:nth-child(5) { font-family:'ZapfHumanistRoman','Apple SD Gothic Neo', sans-serif; font-size:2.3em; margin-bottom:20px; }
        .container nav .gnb > li:nth-child(2) { margin-top:60px; }
        .container nav .gnb > li:nth-child(6), .container nav .gnb > li:nth-child(7), .container nav .gnb > li:last-child { font-weight:400; font-size:1.188em; }
        .container nav .gnb > li:nth-child(6) { margin-top:60px; }
        .container nav .gnb > li:nth-child(7) { margin:20px 0; }



/*** main ***/
.container #main { width:100%; background-color:#f8f8f8; }

    /** info **/
    .container #main .info { width:100%; padding-top:90px; box-sizing:border-box; }
        .container #main .info .daily_set1 { height:400px; background:url(../images/dailySet1.png) no-repeat 50% 40%; background-size:300px; padding:0 45px; box-sizing:border-box; }
        .container #main .info .daily_set2 { height:400px; background:url(../images/dailySet2.png) no-repeat 50% 20%; background-size:330px; padding:0 45px; box-sizing:border-box; }
        .container #main .info .swiper-pagination { padding-top:30px; }

    /** info txt **/
    .container #main .info_txt { width:100%; padding:50px 5%; box-sizing:border-box; }

        .container #main .info_txt > ul > li:first-child { font-size:1.2em; letter-spacing:0; position:relative; color:#3a3123; }
            .container #main .info_txt > ul > li:first-child h2 { font-weight:400; margin:0; position:relative; z-index:2; }
            .container #main .info_txt > ul > li:first-child span { font-family:'ZapfHumanistRoman','Apple SD Gothic Neo', sans-serif; }
            .container #main .info_txt > ul > li:first-child .discount { width:50px; height:50px; border-radius:50%; background-color:#d39d67; font-family:'ZapfHumanistRoman','Apple SD Gothic Neo', sans-serif; font-size:1.2em; display:flex; justify-content:center; align-items:center; color:#fff; position:absolute; top:-60%; left:250px; z-index:1; }
        
        .container #main .info_txt > ul > li:nth-child(2) { padding:5px 0 40px 2px; box-sizing:border-box; font-family:'ZapfHumanistRoman','Apple SD Gothic Neo', sans-serif; font-size:1.3em; border-bottom:1px solid #3a3123;  }
            .container #main .info_txt > ul > li:nth-child(2) em { font-style:normal; text-decoration:line-through; color:#939393; }
            .container #main .info_txt > ul > li:nth-child(2) span { font-family:'Noto Sans KR','Apple SD Gothic Neo',sans-serif; }

        .container #main .info_txt > ul > li:nth-child(3) { padding:45px 0; box-sizing:border-box; line-height:2; letter-spacing:-0.7px; text-align:justify; }

        .container #main .info_txt > ul > li:nth-child(4), .container #main .info_txt > ul > li:nth-child(7), .container #main .info_txt > ul > li:last-child { margin-bottom:30px; cursor:pointer; }
            .container #main .info_txt > ul > li:nth-child(4):hover, .container #main .info_txt > ul > li:nth-child(7):hover, .container #main .info_txt > ul > li:last-child:hover { font-weight:400; }

        .container #main .info_txt > ul > li:nth-child(5), .container #main .info_txt > ul > li:nth-child(6) { display:none; }

        .container #main .info_txt > ul > li:nth-child(7), .container #main .info_txt ul > li:last-child { color:#686868; }
        .container #main .info_txt > ul > li:last-child { margin:0; }

    /** more info **/
    .container #main .more_info { width:100%; }
        
        /* image section */
        .container #main .more_info .img1 { width:100%; height:55vh; background:url(../images/productDetail1.jpg) no-repeat 50% 90%; background-size:cover; }
        .container #main .more_info .img2 { width:100%; height:57vh; background:url(../images/productDetail2.png) no-repeat 50% 60%; background-size:cover; }


/*** sub main ***/ 
    .container #sub_main { width:100%; margin-top:110px; }
    .container #sub_main h2 { font-family:'ZapfHumanistRoman','Apple SD Gothic Neo', sans-serif; font-weight:normal; text-align:center; font-size:1.7em; border-bottom:1px solid #3a3123; color:#3a3123; margin:0 5%; padding-bottom:20px; box-sizing:border-box; }

    /* about, use */
    .container #sub_main #about, .container #sub_main #use { width:100%; margin-bottom:165px; }
        .container #sub_main #about span, .container #sub_main #use span { font-family:'ZapfHumanistRoman','Apple SD Gothic Neo', sans-serif; }
        .container #sub_main #about strong,.container #sub_main #use strong  { font-weight:400; }
        .container #sub_main #about p, .container #sub_main #use p { margin:60px 5%; box-sizing:border-box; letter-spacing:-0.5px; line-height:2; color:#222; text-align:justify; }

    /* review */
    .container #sub_main #reviews { width:100%; }

        /* review 작성 버튼 */
        .container #sub_main #reviews a { margin:50px auto; padding:10px 0; width:320px; border:1px solid #3a3123; color:#3a3123; text-align:center; transition:0.2s; }
        .container #sub_main #reviews a:hover,.container #sub_main #reviews a:active { background-color:#3a3123; color:#fff; }
            
        .container #sub_main #reviews > ul { display:flex; justify-content:center; align-items:center; margin-bottom:50px; color:#594c3aaf; }
            .container #sub_main #reviews ul li { cursor:pointer; }
            .container #sub_main #reviews > ul li.click { font-weight:400; color:#3a3123; }
            .container #sub_main #reviews > ul li:first-child::after { content:"|"; margin:0 30px; color:#594c3a; }

        /* 작성된 review */
        .container #sub_main #reviews > div { padding:50px 0; margin:0 5%; box-sizing:border-box; display:flex; border-bottom:1px solid rgba(122, 102, 76, 0.5); color:#222; }
        .container #sub_main #reviews > div ul { margin-right:50px; line-height:1.7; }
        .container #sub_main #reviews > div ul li:last-child { margin-top:25px; color:rgba(34, 34, 34, 0.5); }
        .container #sub_main #reviews > div .txt { height:100px; line-height:1.7; }

        .container #sub_main #reviews .review1 { padding-top:0; }
        .container #sub_main #reviews .review6 { border:none; }

        .container #sub_main #reviews img { width:45px; display:block; margin:0 auto 30px; cursor: pointer; }
        .container #sub_main #reviews p { text-align:center; color:#3a3123; }
        
    /** recommend **/
    .container #sub_main #recommend { margin:165px 0 150px; text-align:center; }
        .container #sub_main #recommend .products { display:flex; flex-wrap:wrap; justify-content:center; align-items:center; }
        .container #sub_main #recommend .products > div { margin:80px 5px 0; }
        .container #sub_main #recommend .products > div ul li:nth-child(2) { margin-top:20px; color:#222; }
        .container #sub_main #recommend .products > div ul li a { margin:40px auto 0; padding:10px 0; box-sizing:border-box; width:150px; border:1px solid #3a3123; color:#3a3123; transition:0.2s; }
        .container #sub_main #recommend .products > div ul li a:hover { background-color:#3a3123; color:#fff; }
            .container #sub_main #recommend > div img { width:240px; }

    
/*** sub menu ***/
.container #sub_menu { margin:0 5%; border-top:1px solid #68686841; }
    .container #sub_menu ul { margin:35px 0; display:flex; flex-wrap:wrap; justify-content:center; align-items:center; font-weight:400; font-size:1.1em; color:#222; }
        .container #sub_menu ul li { width:100px; margin:15px 25px; text-align:center; color:#686868; }
        .container #sub_menu ul li a { color:#686868; }

/*** buy ***/
.container #buy { width:100%; height:50px; position:fixed; bottom:0; z-index:9; background-color:#fff; }
    .container #buy ul { width:100%; height:100%; border-top:1px solid #3a3123; display:flex; }
        .container #buy li:first-child, .container #buy li:nth-child(2) { width:15%; height:100%; }
            .container #buy li:first-child { background:url(../images/back.svg) no-repeat 50% 50%; background-size:13px; }
            .container #buy li:first-child a { width:100%; height:100%; }
            .container #buy li:nth-child(2) { border-left:1px solid #3a3123; background:url(../images/cart2.svg) no-repeat 50% 50%; background-size:25px; }
        
        .container #buy li:last-child { width:70%; height:100%; line-height:50px; text-align:center; font-size:1.1em; background-color:#3a3123; color:#fcfcfc; }


/*** pay ***/
.container #pay { width:100%; height:250px; padding:20px 30px; box-sizing:border-box; position:fixed; z-index:3; bottom:-400px; display:flex; flex-direction:column; justify-content:space-between; background-color:#f7f7f7; color:#3a3123; box-shadow:0 0 10px rgba(0, 0, 0, 0.1); }
    .container #pay img { width:15px; position: absolute; top:15px; right:15px; }

    .container #pay h2 { width:100%; font-weight:400; font-size:1.1em; text-align:left; margin:20px 0 0; }
        .container #pay h2 span { font-family:'ZapfHumanistRoman','Apple SD Gothic Neo', sans-serif; }

    .container #pay div { display:flex; justify-content:space-between; align-items:center; padding-top:20px; }

    .container #pay div ul { margin:0; width:40%; display:flex; justify-content:space-around; align-items:flex-start; font-weight:400; font-family:'Kumbh Sans','Apple SD Gothic Neo', sans-serif; text-align:center; }
        .container #pay div ul li { height:30px; line-height:30px; }
        
        .container #pay div ul li:first-child, .container #pay div ul li:last-child { width:15%; font-size:1.2em; }
            .container #pay div ul li:first-child img, .container #pay div ul li:last-child img { width:15px; height:15px; }

        .container #pay div ul li:nth-child(2) { width:70%; }

    .container #pay p { font-size:1.1em; margin:auto 0 0; box-sizing:border-box; }
        .container #pay p span { font-family:'ZapfHumanistRoman','Apple SD Gothic Neo', sans-serif; }

        .container #pay > p { font-weight:400; font-size:1.5em; text-align:right; border-top:1px solid #89866d6e; padding-top:20px; }
        

/*** popup ***/
.container .popup { position:fixed; z-index:9; top:50%; right:50%; transform:translate(50%, -50%); border:1px solid #54473794; background-color:#fff; width:75%; height:50%; padding:30px; overflow:auto; font-size:0.9em; display:none; }
.container .popup img { position:absolute; top:20px; right:20px; width:20px; height:20px; cursor:pointer; }
    .container .popup h2 { font-weight:400; margin:0; font-size:1.4em; margin-bottom:20px; }
    .container .popup p { line-height:2; font-size:1.1em; }
    .container .popup ul li { list-style:inside; margin-bottom:10px; line-height:1.7; font-size:1.1em; }

.container #popup3 { height:65%; }
    

/*** footer ***/
.container footer { width:100%; background-color:#50512d; padding:40px 28px 100px; box-sizing:border-box; font-size:0.875em; }
    .container footer p { margin:0; color:#969687; line-height:1.7; letter-spacing:0; }
    .container footer p:first-of-type { font-family:'Kumbh Sans','Apple SD Gothic Neo', sans-serif; font-weight:400; font-size:1.563em; color:#cccbaa; }
    .container footer p:nth-of-type(2) { font-family:'Kumbh Sans','Apple SD Gothic Neo', sans-serif; color:#cccbaa; }
    .container footer p:nth-of-type(4) { margin-bottom:10px; }

    .container footer ul { margin:10px 0; display:flex; text-transform:uppercase; }
    .container footer ul:last-of-type { margin:25px 0; }
    
    .container footer ul li a { display:inline; text-decoration:none; color:#969687; letter-spacing:-0.5px; }
    .container footer ul li::after { content:"|"; margin:0 10px; font-size:0.875em; color:#969687; }
    .container footer ul li:last-child::after { content:none; }
    .container footer ul:last-of-type li a { color:#cccbaa; }
            .container footer ul:last-of-type li a:hover { text-decoration:underline; }

    .container footer .hidden { display:none; }
    


/*** scroll top ***/
.container #scroll_btn { width:45px; height:45px; background:#ceb8a1 url(../images/scrollup.svg) no-repeat 50% 50%; background-size:18px; border-radius:50%; position:fixed; bottom:-45px; right:15px; z-index:1; box-shadow:5px 5px 10px rgba(0, 0, 0, 0.1); cursor:pointer; }


/***** Tablet *****/
@media (min-width:768px) {
    /*** popup ***/
    .container .popup { height:30%; }
}



/***** PC *****/
@media (min-width:1440px) {
    /*** mobile header ***/
    .container header { display:none; }


    /*** PC header ***/
    .container #PC_header { padding:0 30px; box-sizing:border-box; width:85%; height:70px; background-color:#fff; box-shadow:0 0 10px rgba(0, 0, 0, 0.1); display:flex; justify-content:space-between; align-items:center; position:fixed; top:25px; left:50%; transform:translateX(-50%); z-index:999; transition:0.5s; }
    .container #PC_header.up { width:100%; top:0; background-color:rgba(255, 255, 255, 0.9); height:70px; font-size:0.9em; box-shadow:none; padding:0 250px; }
        .container #PC_header > ul { height:70px; display:flex; color:#2d2d2d; }
        .container #PC_header.up > ul { height:70px; }
        .container #PC_header > ul > li { height:70px; line-height:70px; cursor:pointer; transition:0.2s; }
        .container #PC_header.up > ul > li { text-align:center; width:120px; height:70px; line-height:70px; }

        .container #PC_header .menu1 > li { text-align:center; width:120px; }
        .container #PC_header .menu1 > li:first-child:hover { color:#d39d67; }
        .container #PC_header .menu1 > li ul li a { color:#2d2d2d; }
        .container #PC_header .menu1 > li:hover ul li a { color:#2d2d2d; }

        .container #PC_header .menu1 > li a { color:inherit; }
        .container #PC_header .menu1 > li:first-child { position:relative; }
        .container #PC_header .menu1 ul { position:absolute; top:85px; width:120px; background-color:#fff; box-shadow:0 0 10px rgba(0, 0, 0, 0.1);  }
        .container #PC_header .menu1 ul li { transition:0.2s; }
        .container #PC_header .menu1 ul li:hover { background-color:#d39d671e; }
        .container #PC_header.up .menu1 ul { background-color:rgba(255, 255, 255, 0.9); box-shadow:none; }

        .container #PC_header .menu2 > li { text-align:center; width:120px; }
        .container #PC_header .menu2 > li:last-child { width:100px; height:100%; display:flex; }
        .container #PC_header.up .menu2 > li:last-child { width:100px; height:100%; display:flex; }
        .container #PC_header .menu2 > li a { display:flex; align-items:center; justify-content:center; width:100%; height:100%; margin:auto 0; }
        .container #PC_header .menu2 > li a img { width:25px; height:25px; }

        .container #PC_header h1 { margin:0; width:188px; height:100%; position:absolute; right:50%; transform:translateX(50%); }
        .container #PC_header.up h1 { width:170px; }
        .container #PC_header h1 a { width:100%; height:100%; padding:10px 0; box-sizing:border-box; text-indent:-9999px; background:url(../images/logo.svg) no-repeat 50% 50%; background-size:120px; }
        .container #PC_header.up h1 a { padding:20px 0; background-size:100px; }

    
    /** search **/
    .container #search_box { width:85%; height:0px; top:100px; right:7.5%; box-shadow:0 0 10px rgba(0, 0, 0, 0.1); transition:0.5s; padding:0; overflow:hidden; }
    .container #search_box.act { width:73%; top:85px; right:50%; transform:translateX(50%); box-shadow:none; }
        .container #search_box p { text-align:center; margin:30px 0; }
        .container #search_box .box { width:60%; margin:0 auto 40px; }
        .container #search_box .box input { width:90%; background:url(../images/search.svg) no-repeat 1% 50%;background-size:20px; text-indent:45px; }
        .container #search_box .box .txt { width:10%; }


    /*** main ***/
    .container #main { display:flex; flex-direction:column; position:relative; }

        /** info **/
        .container #main .info { width:55%; height:100vh; position:absolute; top:0; left:0; }
            .container #main .info .daily_set1 { width:100%; height:100%; background:url(../images/dailySet1.png) no-repeat 70% 40%; background-size:730px; padding:0 45px; box-sizing:border-box; }
            .container #main .info .daily_set2 { width:100%; height:100%; background:url(../images/dailySet2.png) no-repeat 70% 20%; background-size:730px; padding:0 45px; box-sizing:border-box; }
            .container #main .info .swiper-pagination { padding:0 0 30px 55px; }

        /** info txt **/
        .container #main .info_txt { width:45%; height:100%; padding:4% 10% 0; position:fixed; bottom:0; right:0; display:flex; justify-content:center; align-items:center; }
        .container #main .info_txt.fix { height:100vh; position:absolute; bottom:0; right:0; height:100vh; }

            .container #main .info_txt > ul > li:first-child { font-size:1.7em; }
            .container #main .info_txt > ul > li:first-child .discount { width:75px; height:75px; left:350px; }

            .container #main .info_txt > ul > li:nth-child(2) { padding:10px 0 40px 4px; font-size:1.6em; }

            .container #main .info_txt > ul > li:nth-child(3) { font-size:1.05em; padding:40px 0; }

            .container #main .info_txt > ul > li:nth-child(4), .container #main .info_txt > ul > li:nth-child(5) { margin-bottom:40px; }
                .container #main .info_txt > ul > li:nth-child(5), .container #main .info_txt > ul > li:nth-child(5) ul { display:flex; justify-content:space-between; align-items:center; }
                .container #main .info_txt > ul > li:nth-child(5) { margin-bottom:40px; font-size:1.3em; }
                .container #main .info_txt > ul > li:nth-child(5) ul { width:25%;  font-family:'ZapfHumanistRoman','Apple SD Gothic Neo', sans-serif; }
                    .container #main .info_txt > ul > li:nth-child(5) ul li:first-child, .container #main .info_txt > ul > li:nth-child(5) ul li:last-child { cursor:pointer; }
                    .container #main .info_txt > ul > li:nth-child(5) p { margin:0; }
                        .container #main .info_txt > ul > li:nth-child(5) p span { font-family:'ZapfHumanistRoman','Apple SD Gothic Neo', sans-serif; font-size:1.3em; }

            .container #main .info_txt > ul > li:nth-child(6) { display:flex; margin-bottom:40px; }
            .container #main .info_txt > ul > li:nth-child(6) div { width:45%; height:60px; text-align:center; line-height:60px; cursor:pointer; }
                .container #main .info_txt > ul > li:nth-child(6) .cart { margin-right:5%; border:1px solid #3a3123; color:#3a3123; }
                .container #main .info_txt > ul > li:nth-child(6) div:last-of-type { margin-left:5%; background-color:#3a3123; color:#fcfcfc; }

            .container #main .info_txt > ul > li:nth-child(7) { margin-bottom:20px; }

        /** more info **/
        .container #main .more_info { width:55%; margin-top:100vh; }
            
            /* image section */
            .container #main .more_info .img1 { width:100%; height:110vh; background:url(../images/productDetail1.jpg) no-repeat 50% 90%; background-size:cover; }
            .container #main .more_info .img2 { width:100%; height:115vh; background:url(../images/productDetail2.png) no-repeat 50% 60%; background-size:cover; }

    
    /*** sub main ***/
    .container #sub_main { width:100%; display:flex; flex-wrap:wrap; justify-content:center; margin-top:200px; }
        .container #sub_main h2 { font-size:2.5em; padding-bottom:30px; }

    .container #sub_main #about, .container #sub_main #use { width:42%; margin-bottom:200px; }
        .container #sub_main #about p, .container #sub_main #use p { margin:60px 7%; font-size:1.1em; }

    .container #sub_main #reviews, .container #sub_main #recommend { width:89%; font-size:1.1em; }
        .container #sub_main #reviews a { float:right; margin:70px 12% 70px 0; width:220px; height:40px; line-height:40px; font-size:1.1em; }
        .container #sub_main #reviews > ul { float:left; margin:70px 0 70px 12%; }
        .container #sub_main #reviews > div { clear:both; margin:0 12%; padding:60px 0; }
        .container #sub_main #reviews img { width:54px; height:54px; }

        .container #sub_main #recommend { margin:200px 0; }
        .container #sub_main #recommend > div img { width:470px; }
        .container #sub_main #recommend .products > div ul li:nth-child(2) { margin-top:45px; }
        .container #sub_main #recommend .products > div ul li a { margin-top:75px; }


    /*** sub menu ***/
    .container #sub_menu { width:89%; margin:0 auto; }
        .container #sub_menu ul { margin:30px 0; }
            .container #sub_menu ul li { width:250px; margin:0 25px; text-align:center; }


    /*** buy ***/
    .container #buy { display:none; }

    /*** pay ***/
    .container #pay { display:none; }

    /*** scroll top ***/
    .container #scroll_btn { width:55px; height:55px; bottom:-60px; right:30px; }

    /*** popup ***/
    .container #popup1, .container #popup2, .container #popup3 { width:40%; height:30%; }

    /*** footer ***/
    .container footer { padding:50px 0; box-sizing:border-box; font-size:0.9em; }
        .container footer p { text-align:center; }
        .container footer p:first-of-type { font-size:1.75em; }
        .container footer p:nth-of-type(3) { margin-top:0; }
        .container footer p:nth-of-type(4) { margin:0; }
        .container footer p:nth-of-type(5) { display:none; }
        .container footer .hidden { display:block; margin:0; }

        .container footer ul { margin:5px 0; justify-content:center; }
            .container footer ul:last-of-type { margin:15px 0; }
        .container footer ul li a { letter-spacing:1px; }
        .container footer ul li a:hover { color:#cccbaa; }
        .container footer ul li::after { margin:0 20px; }
}