@charset "utf-8";

@font-face { font-family:'AntroVectra'; src: url(../fonts/AntroVectra.woff2) format('woff2'), url(../fonts/AntroVectra.woff) format('woff'); font-style:normal; font-weight:normal; }

@font-face { font-family:'TamoroScriptPersonalUseOnly'; src: url(../fonts/TamoroScriptPersonalUseOnly.woff2) format('woff2'), url(../fonts/TamoroScriptPersonalUseOnly.woff) format('woff'); font-style:normal; font-weight:normal; }

@font-face { font-family:'ZapfHumanistRoman'; src: url(../fonts/ZapfHumanistRoman.woff2) format('woff2'), url(../fonts/ZapfHumanistRoman.woff) format('woff'); font-style:normal; font-weight:normal; }